<% provide(:title, "Edit #{@task.name}") %>
<div class="row">
  <div class="col s12">
    <h1>Edit <%=@task.name%></h1>
  </div>
</div>
<div class="row">
  <div class="col s12 m9">
    <%= render 'form' %>
  </div>
</div>
