<div class="row">
  <h1>Editing Task</h1>
</div>
<div class="row">
  <div class="col-md-6">
    <%= render 'form' %>
    <%= link_to 'Show', [@group,@category,@task] , class: "btn btn-default"%>
    <%= link_to 'Back', group_category_tasks_path(@group,@category), class: "btn btn-default" %>
  </div>
</div>
