<% provide(:title, 'Update #{@group.name}') %>
<div class="row">
  <h1>Update Group</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <%= render 'form' %>
    <%= link_to 'Read More', @group, class: "btn btn-default"%>
    <%= link_to 'Back', groups_path, class: "btn btn-default" %>
  </div>
</div>
