<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>New Group</h1>
  </div>
</div>

<%= render 'form' %>

<div class="row">
  <div class=" col-md-2 col-md-offset-5">
    <div class="btn-group btn-group-justified">
      <%= link_to 'Back', groups_path, class: "btn btn-default" %>
    </div>
  </div>
</div>
