<div class="row">
  <h1>New Group</h1>
</div>

<%= render 'form' %>

<div class="row">
  <div class=" col-md-2">
    <div class="btn-group btn-group-justified">
      <%= link_to 'Back', groups_path, class: "btn btn-default" %>
    </div>
  </div>
</div>
