<% provide(:title, @group.name) %>
<div class="row">
  <div class="col s12">
      <h1><%=@group.name%></h1>
    </div>
</div>

<div class="row">
  <div class="col s12 m9">
    <%if @group.members_public%>
      <p> Members list is public. <p>
    <%else%>
      <p> Members list is not public. <p>
    <%end%>

    <%if is_user_of_group?(@group)%>
      <%= link_to "<i class='material-icons'>mode_edit</i>".html_safe, edit_group_path(@group),
      class: "btn waves-effect waves-light tooltipped", data: {position:"bottom", delay:"50",tooltip:"Update"}%>
    <%end%>
    <%if is_a_member_of_group?(@group)%>
      <%=link_to "<i class='material-icons'>remove_circle</i>".html_safe, [@group, @group.memberships.find_by(user_id: current_user.id)], method: :delete,
        data: { confirm: "Leave #{@group.name}?",position:"bottom", delay:"50",tooltip:"Leave Group"}, class:"btn waves-effect waves-light tooltipped red" %>
    <%elsif logged_in?%>
      <%=link_to "<i class='material-icons'>person_add</i>".html_safe,
        join_group_path(@group), method: :post,class:"btn waves-effect waves-light tooltipped", data:{position:"bottom", delay:"50",tooltip:"Join Group"}  %>
    <%end%>

  </div>
</div>
