
<p>
  <strong>Name:</strong>
  <%= @group.name %>
  <br>

  <%if @group.members_public%>
  <p> Members list is public. <p>
  <%else%>
  <p> Members list is not public. <p>
  <%end%>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
