<li>
  <%= gravatar_for user %>
  <%= link_to user.username, user %>
  <% if current_user.admin? && !current_user?(user) %>
    |	<%= link_to "Delete", user, :method => :delete, 
    data: { confirm: "Destroy #{user.username}?" } %>
  <% end %>
</li>