<% provide(:title, "Calendar") %>
<div class="row">
	<h1>Calendar</h1>
</div>

<div class="row">
	<p>Events</p>
	<% if @authorised %>
		<table>
			<% @calendar_response.items.each do |event| %>
		  	<tr><td><%= event.summary %></td></tr>
			<% end %>
		</table>
	<% end %>
</div>
