<% provide(:title, "Calendar") %>
<div class="row">
	<h1>Calendar</h1>
</div>

<div class="row">
	<% if @authorised %>
		<table class="responsive-table">
			<% @calendar_response.items.reverse.each do |event| %>
		  	<tr>
		  	<td><%= event.summary %></td>
		  	<% @start = event.start.date || event.start.date_time %>

  			<td><%= @start.strftime("%d %b %Y, %I.%M%p") %></td>
  			<td width="40%"><%= event.location %></td>
  			</tr>
			<% end %>
		</table>
	<% end %>
</div>
