<% provide(:title, "Files") %>
<div class="row">
	<h1>Files</h1>
</div>

<div class="row">
	<p>File Name and ID</p>
	<% if @drive_authorised %>
		<table>
			<% @drive_response.files.each do |file| %>
		  	<tr>
		  		<td><%= file.name %></td>
		  		<td><%= file.id %></td>
	  		</tr>
			<% end %>
		</table>
	<% end %>
</div>
