<% provide(:title, "Files") %>
<div class="row">
	<h1>Pages#files</h1>
</div>

<div class="row">
	<p>Find me in app/views/pages/files.html.erb</p>
	<% if @drive_authorised %>
		<ul>
			<% @drive_response.files.each do |file| %>
		  	<li><%= file.name %></li>
			<% end %>
		</ul>
	<% end %>
</div>
