<% provide(:title, 'Contacts') %>
<div class="row">
  <div class ="col s12">
	   <h1>Contacts</h1>
   </div>
</div>

<div class="row">
  <div class = "col s12 m6">
    <%= link_to '<i class="material-icons left">add</i> New Contact'.html_safe, {action: 'new'}, class: "btn waves-effect waves-light red" %>
  </div>
  <!--
	| <%= link_to "Download as CSV", group_category_contacts_path(@group, @category, format: "csv") %>
	-->
</div>


<div class="row">
  <%@contacts.each do |contact|%>
    <%=render contact%>
  <%end%>
</div>
