<% provide(:title, 'New Contact') %>
<div class="row">
	<h1>New Contact</h1>
	<p>Please conduct data validation testing on the user and login system instead.</p>
</div>
<div class="row">
	<%= render 'form' %>
</div>
