// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contact {
	border: 4px groove snow;
}

.contact-text {
	padding: 16px 0px;
}

.contact-details {
	list-style-type: none;
}
