// Place all the styles related to the displays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//google-picker
.picker-dialog-content {
position: relative;
}

.display-image:not(.active){
  max-width: 300px;
  max-height: 300px;
}
