
<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text"><%= link_to 'KouhaiDash!', root_path %> </h5>
        <p class="grey-text text-lighten-4">brought to you by
        <a href="https://github.com/notice-us-senpai">
        	Notice us Senpai~~
      	</a><% debug(params) if Rails.env.development? %></p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contacts</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="http://glacierein.blogspot.sg/">Jiayee</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 Copyright Text
    </div>
  </div>

</footer>
