
<footer class="footer text-center">
  <div class="container">
    <div class="row footer-text">
      <div class="col l6 s12">
        <h5 ><%= link_to 'KouhaiDash!', root_path, class:'footer-link footer-brand'%> </h5>
        <p>brought to you by
        <a href="https://github.com/notice-us-senpai" class='footer-link'>
        	Notice us Senpai~~
      	</a><% debug(params) if Rails.env.development? %></p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5>Contacts</h5>
        <ul>
          <li><a class="footer-link" href="http://glacierein.blogspot.sg/">Jiayee</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 Copyright Text
    </div>
  </div>

</footer>
